body {
  font-family: Calibri Light, Calibri, Arial;
  font-size: 16pt;
  background: #eee;
}

#footer {
  position: relative;
  top: 100px;
  text-align: center;
}

.field {
  border: 2px solid rgb(70, 70, 70);
  border-radius: 9px;
  padding: 10px;
  margin: 5px;
  font-family: Calibri Light, Arial;
  font-size: 14pt;
}

.button {
  border: 2px solid rgb(70, 70, 70);
  background: rgb(70, 70, 70);
  color: white;
  border-radius: 9px;
  padding: 10px;
  margin: 5px;
  font-family: Calibri Light, Arial;
  font-size: 14pt;
}

.login {
  text-align: center;

}